.row {
	margin: auto;
}

#jsonResult {
	background-color: #eee;
	width: 500px;
	color: black;
	margin: auto;
	margin-top: 20px;
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
	padding:20px;
}

#data {
	display: none;
}

#searchEmployee , #deleteEmployee, #insertEmployee , #updateEmployee {
	background-color: #eee;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	padding-bottom: 20px;
	clear: both;
}

#updateResult {
	background-color: #ddd;
	border: 1px solid #eee;
	padding: 20px;
}